@-webkit-keyframes nuage {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes nuage {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes nuages2 {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

@keyframes nuages2 {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

@-webkit-keyframes oiseaux1 {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(4000%);
            transform: translateX(4000%);
  }
}

@keyframes oiseaux1 {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(4000%);
            transform: translateX(4000%);
  }
}

@-webkit-keyframes oiseaux2 {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-4000%);
            transform: translateX(-4000%);
  }
}

@keyframes oiseaux2 {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-4000%);
            transform: translateX(-4000%);
  }
}

body {
  width: 100vw;
  height: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: url("img/layers/target.png") 4 12, auto;
}

body main {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: url("img/layers/target.png") 4 12, auto;
}

body main #carre {
  overflow: hidden;
}

body main #carre .background1 {
  width: 100%;
  height: 100%;
  background: url("img/layers/sky.png") center no-repeat;
  background-size: cover;
  overflow: hidden;
  position: absolute;
}

body main #carre .background2 {
  width: 100%;
  height: 100%;
  background: url("img/layers/clouds_1.png") top no-repeat;
  background-size: contain;
  position: absolute;
  overflow: hidden;
  -webkit-animation: nuage 20s linear infinite;
          animation: nuage 20s linear infinite;
}

body main #carre .background3 {
  width: 50%;
  height: 50%;
  background: url("img/layers/clouds_2.png") center no-repeat;
  background-size: contain;
  position: absolute;
  overflow: hidden;
  -webkit-animation: nuages2 20s linear infinite;
          animation: nuages2 20s linear infinite;
}

body main #carre .background4 {
  width: 50%;
  height: 50%;
  background: url("img/layers/clouds_3.png") bottom no-repeat;
  background-size: contain;
  position: absolute;
  overflow: hidden;
  -webkit-animation: nuages2 12s linear infinite;
          animation: nuages2 12s linear infinite;
}

body main #carre .background5 {
  width: 100%;
  height: 100%;
  background: url("img/layers/pines.png") top no-repeat;
  background-size: cover;
  position: absolute;
  overflow: hidden;
}

body main #carre .background5 {
  width: 100%;
  height: 100%;
  background: url("img/layers/rocks_1.png") top no-repeat;
  position: absolute;
  overflow: hidden;
}

body main #carre .background7 {
  width: 100%;
  height: 100%;
  background: url("img/layers/rocks_2png") top no-repeat;
  background-size: cover;
  position: absolute;
  overflow: hidden;
}

body main #carre .background8 {
  width: 100%;
  height: 100%;
  background: url("img/layers/rocks_3.png") top no-repeat;
  background-size: cover;
  position: absolute;
  overflow: hidden;
}

body main #carre .background9 {
  width: 100%;
  height: 100%;
  background: url("img/layers/birds.png") top no-repeat;
  position: absolute;
  overflow: hidden;
}

#enemy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#enemy .bird1 {
  height: 75px;
  width: 100px;
  background: url("img/oiseaux/bird/1.png");
  position: relative;
  top: 5px;
  -webkit-animation: oiseaux1 15s linear infinite;
          animation: oiseaux1 15s linear infinite;
}

#enemy .bird2 {
  height: 75px;
  width: 100px;
  background: url("img/oiseaux/bird/1.png");
  position: relative;
  -webkit-animation: oiseaux1 10s linear infinite;
          animation: oiseaux1 10s linear infinite;
}

#enemy .bird3 {
  height: 75px;
  width: 100px;
  background: url("img/oiseaux/bird/1.png");
  position: relative;
  -webkit-animation: oiseaux1 9s linear infinite;
          animation: oiseaux1 9s linear infinite;
}

#enemy2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#enemy2 .bird4 {
  height: 75px;
  width: 100px;
  background: url("img/oiseaux/bird/8.png");
  position: relative;
  display: block;
  -webkit-animation: oiseaux2 12s linear infinite;
          animation: oiseaux2 12s linear infinite;
}

#enemy2 .bird5 {
  height: 75px;
  width: 100px;
  background: url("img/oiseaux/bird/8.png");
  position: relative;
  display: block;
  -webkit-animation: oiseaux2 9s linear infinite;
          animation: oiseaux2 9s linear infinite;
}

#enemy2 .bird6 {
  height: 75px;
  width: 100px;
  background: url("img/oiseaux/bird/8.png");
  position: relative;
  display: block;
  -webkit-animation: oiseaux2 15s linear infinite;
          animation: oiseaux2 15s linear infinite;
}

#enemy3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#enemy3 .bird7 {
  height: 75px;
  width: 100px;
  background: url("img/oiseaux/bird/1.png");
  position: relative;
  -webkit-animation: oiseaux1 20s linear infinite;
          animation: oiseaux1 20s linear infinite;
}

#enemy3 .bird8 {
  height: 75px;
  width: 100px;
  background: url("img/oiseaux/bird/1.png");
  position: relative;
  -webkit-animation: oiseaux1 9s linear infinite;
          animation: oiseaux1 9s linear infinite;
}

#enemy3 .bird9 {
  height: 75px;
  width: 100px;
  background: url("img/oiseaux/bird/1.png");
  position: relative;
  top: 80px;
  -webkit-animation: oiseaux1 15s linear infinite;
          animation: oiseaux1 15s linear infinite;
}

img {
  position: absolute;
}

#popup {
  width: 290px;
  height: 200px;
  position: absolute;
  top: 35%;
  left: 40%;
  text-align: center;
  line-height: 25px;
  background: url("img/layers/back.jpg");
  background-size: contain;
}

#popup button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#774815), to(#774815));
  background: linear-gradient(#774815, #774815);
  border: none;
}

#alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#restart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

footer {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  bottom: 0;
  text-align: center;
  line-height: 80px;
}

footer .points {
  width: 98px;
  height: 70px;
  position: absolute;
  left: 5%;
  border: 3px #643e1e solid;
  background: url("img/layers/back.jpg");
  background-size: contain;
  background-position: center;
}

footer .munition {
  position: absolute;
  left: 80%;
  width: 98px;
  height: 70px;
  border: 3px #643e1e solid;
  background: url("img/layers/back.jpg");
  background-size: contain;
  background-position: center;
}

footer .decompteur {
  position: absolute;
  left: 90%;
  width: 98px;
  height: 70px;
  border: 3px #643e1e solid;
  background: url("img/layers/back.jpg");
  background-size: contain;
  background-position: center;
}

a {
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  font-size: 1.9em;
}

span {
  padding-top: 30px;
  font-style: italic;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/*# sourceMappingURL=style.css.map */